* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: Montserrat, sans-serif; /* Titels */
    line-height: 1.5;

}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* puts it behind content */
    background: linear-gradient(to right top, #000000, #2e2e2e,
    #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9,
    #b9b9b9, #878787, #585858, #2e2e2e, #000000);
}

p {
    font-family: "Source Sans Pro", sans-serif; /* Regular texts */
    font-size: 1.2rem;
}

header {
    position: absolute;
    top: 0;
    width: 100%;

    //background-color: rgba(179, 179, 179, 0.1); /* 10% opacity */
    height: 70px;
    align-content: center;
}




.navbar {
    color: white;
    max-width: 1260px;
    margin: 0 auto;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.logo {
    align-items: center;
    display: flex;
}

.logo img {
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;

}

.menu img {
    height: 35px;
    width: 35px;
}

.home {
    min-height: 100vh;
    align-content: center;
    text-align: center;
}

.titel {
    padding-bottom: 40px;
}

.titel h1 {
    font-size: 5.5rem;
    margin: 0;
}

.titel h2 {
    font-size: 2rem;
    color: #2e2e2e;
}




.intro-inner, .planning, .ontwikkeling-inner, .logboek-en-rollen-inner, .roles {
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 70px;
}


.intro {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.ontwikkeling {


    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.intro p {
    width: 1000px;
}


.intro, .logboek, .rollen, .ontwikkeling {
    min-height: 100vh;
}

.logboek-inner , .rollen-inner {
    display: flex;
    flex-direction: column;
}



.logboek-en-rollen {

    background-image: url("assets/logboek-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: left;
    //justify-content: flex-end;
}

.logboek-en-rollen-inner {
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
}












.planning-body {
    max-height: 100vh;
    background: linear-gradient(to right top, #000000, #2e2e2e,
    #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9,
    #b9b9b9, #878787, #585858, #2e2e2e, #000000);
    //background: linear-gradient(to top, #000000, #2e2e2e, #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9, #b9b9b9, #878787, #585858, #2e2e2e, #000000);

}

.planning {
    text-align: center;
}


.planning img {
    width: 600px;
    height: auto;
    //margin: 10px 0;
}

.planning-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.roles {
    text-align: center;
}

.homepage-iframe {
    width: 600px;
    height: 500px;
}


iframe {
    width: 1200px;
    height: 710px;

}


/*
OPDRACHTEN PAGE
OPDRACHTEN PAGE
OPDRACHTEN PAGINA BEGINT HIER
*/
.opdrachten-home {
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

.opdrachten-home h1 {
    font-size: 4rem;
}

.opdrachten-content {
    padding-top: 50px;
    max-width: 1260px;
    margin: 0 auto;
}

li::marker {
    font-size: 24px;
    font-weight: bold;
}

.opdrachten-content ol li {
    padding-top: 50px;
}

.opdrachten-content ol li p {
    font-size: 16px;
}

.opdrachten-content ol li h4 {
    font-size: 1rem;
    //font-family: "Source Sans Pro", sans-serif;
    padding-top: 20px;
    font-weight: bold;
}

.periode {
    font-size: 0.9rem;
    color: #666;
}







footer {
    display: flex;
    padding: 60px 150px 10px 150px;
    justify-content: space-between;
    align-items: center;
}






