* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: Montserrat, sans-serif; /* Titels */
    line-height: 1.5;
    scroll-behavior: smooth;

}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* puts it behind content */
    background: linear-gradient(to right top, #000000, #2e2e2e,
    #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9,
    #b9b9b9, #878787, #585858, #2e2e2e, #000000);
}

p {
    font-family: "Source Sans Pro", sans-serif; /* Regular texts */
    font-size: 1.2rem;
}

header {
    position: absolute;
    top: 0;
    width: 100%;

    //background-color: rgba(179, 179, 179, 0.1); /* 10% opacity */
    height: 70px;
    align-content: center;
}




.navbar {
    color: white;
    max-width: 1260px;
    margin: 0 auto;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.logo {
    align-items: center;
    display: flex;
}

.logo img {
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    }

.active {
        border-bottom: 2px solid indianred;

}

.navbar a:hover {
    border-bottom: 1px solid #666666;
    transition: .3s;
    transform: scale(1.01);
}

.menu img {
    height: 35px;
    width: 35px;
}

.home {
    min-height: 100vh;
    align-content: center;
    text-align: center;
}

.titel {
    padding-bottom: 40px;
}

h1 {
    color: indianred;

}




.titelh1 {
    font-size: 5.5rem;
    margin: 0;
    color: black;

}
.titelh1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: indianred;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    font-weight: 500;
}

.home .titelh1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0 0 20px 0;
    color: black; /* donkere accentkleur */
    letter-spacing: 10px;
}

.home h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #333;
}

.home h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: #555;
    font-style: italic;
}

.intro {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*
    background: #f0f0f0;
    background: linear-gradient(90deg, rgba(240, 240, 240, 1) 60%, rgba(255, 255, 255, 1) 97%);
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
}






.intro-inner, .planning, .ontwikkeling-inner, .logboek-en-rollen-inner, .roles {
    max-width: 1260px;
    margin: 0 auto;
    //padding-top: 70px;
}


.intro-inner {
    padding-top: 100px;
    min-height: 100vh;
}

.intro-inner h1 {
    padding-bottom: 20px;
}

.jaartal {
    text-align: center;
    padding-bottom: 200px;
    font-size: 3rem;
}

.ontwikkeling {
    min-height: 100vh;
    max-width: 1260px;
    margin: 0 auto;

    height: 100%;
    width: 100%;
}

.ontwikkeling-inner {
    padding-top: 70px;
}


.ontwikkeling ul li {
    list-style: none;
    font-weight: bold;
   // font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    padding-top: 20px;
    color: #b9b9b9;
}

.ontwikkeling p {
    font-size: 1.2rem;
}

.intro p {
    width: 1000px;
}

.reflectie {
    min-height: 100vh;
    padding-top: 100px;
    max-width: 1260px;
    margin: 0 auto;
}

.reflectie p {
    padding-top: 20px;
    font-size: 1.2rem;
}


.kernkwadranten {
    min-height: 100vh;
    padding-top: 100px;
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 50px;
}



.kwadrant-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    margin: 0;
    padding: 20px 0;
    width: 600px;
}

.kwadrant {
    border: 2px solid #000;
    padding: 1rem;
    width: 300px;
}

.kwadrant-vak h2 {
}

.kwadrant h3 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
}

.kwadrant-tekst {
    padding-top: 20px;
}



.logboek, .rollen {
    min-height: 100vh;
}

.logboek-inner , .rollen-inner {
    display: flex;
    flex-direction: column;
}

.rollen {
    padding-top: 100px;
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.rollen h1{
    text-align: left;
    padding-bottom: 50px;

}


.rollen-content {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.rollen-vragen {
    padding-top: 100px;
    max-width: 1260px;
    margin: 0 auto;
}



.logboek-en-rollen {

}

.logboek-en-rollen-inner {
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
}












.planning-body {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-height: 100vh;
    /*background: linear-gradient(to right top, #000000, #2e2e2e,
    #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9,
    #b9b9b9, #878787, #585858, #2e2e2e, #000000);*/
    //background: linear-gradient(to top, #000000, #2e2e2e, #585858, #878787, #b9b9b9, #b9b9b9, #b9b9b9, #b9b9b9, #878787, #585858, #2e2e2e, #000000);

}

.planning {

    text-align: center;
    min-height: 100vh;
    align-items: center;
    align-content: center;
}

.planning h1 {
    font-size: 4rem;
}

.logboek {

    min-height: 100vh;
    max-width:1260px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

iframe {
    width: 1000px;
    height: 700px;
}

.logboek h1 {
    text-align: left;
    padding-bottom: 50px;
}

.logboek-content {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logboek-vragen {
    padding-top: 100px;
    max-width: 1260px;
    margin: 0 auto;
}

.planning img {
    width: 600px;
    height: 400px;
    //margin: 10px 0;
}

.planning-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.rollen-pagina {


}

.roles {
    text-align: center;
    align-content: center;
    min-height: 100vh;
}

.roles h1 {
    font-size: 4rem;
}


/*
OPDRACHTEN PAGE
OPDRACHTEN PAGE
OPDRACHTEN PAGINA BEGINT HIER
*/
.opdrachten-home {
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

.opdrachten-home h1 {
    font-size: 4rem;
}

.opdrachten-main {
    background-image: url("assets/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.opdrachten-content {

    padding-top: 50px;
    max-width: 1260px;
    margin: 0 auto;
}

li::marker {
    font-size: 24px;
    font-weight: bold;
}

.opdrachten-content ol li {
    padding-top: 50px;
}

.opdrachten-content ol li p {
    font-size: 16px;
}

.opdrachten-content ol li h4 {
    font-size: 1rem;
    //font-family: "Source Sans Pro", sans-serif;
    padding-top: 20px;
    font-weight: bold;
}

.periode {
    font-size: 0.9rem;
    color: #666;
}







footer {
    display: flex;
    padding: 20px 150px 10px 150px;
    justify-content: space-between;
    align-items: center;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    transform: scale(1.03);
}






